{{#partial "alerta"}}
<div class="alert alert-danger" role="alert">
  Debe especificar en que periodo desea consultar cuentas para {{empresaSeleccionada}}
</div>
{{/partial}}

{{>empresas/empresas.hbs}}
