{{#partial "contenido"}}
<div class= "row justify-content-center">
      <div class="col-4">
        <h1 class="text-info text-center">Mis Indicadores</h1>
        <table class="table table-striped">
          <thead class="table-inverse">
            <tr>
              <th>#</th>
              <th class="text-center">Nombre</th>
              <th class="text-center">Fórmula</th>
            </tr>
          </thead>
          <tbody class="empresas_list">
          {{#each this}}
          <tr>
            <th scope="row">{{@index}}</th>
            <th class="text-center">{{nombre}}</th>
            <th class="text-center">{{formula}}</th>
          </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
   </div>

  <div class="row justify-content-center"">
  <h2 class="text-info text-center">Ingresar nuevo Indicador</h2>
  </div>
  <div class="row justify-content-center"">
  <div class="col-4">  
    <form action="/indicadores/add" method="post">
     <div class="form-group">
       <label for="indicador">Nombre</label>
       <input type="text"  class="form-control is-invalid" id="nombre" placeholder="Nombre" name="nombre">
       <!--<div class="invalid-feedback">Porfavor, ingresa una empresa</div>-->
       <label for="formula">Formula</label>
       <input type="text" class="form-control is-invalid" id="formula" placeholder="Formula" name="formula">
       <!---<div class="invalid-feedback">Porfavor, ingresa un periodo</div-->
     </div> 
     <button class="btn btn-primary" type="submit">Agregar</button>
      </form>
   </div>
 </div>
 </div>
{{/partial}}
{{>userspace.hbs}}
