{{#partial "alerta"}}
<div class="alert alert-danger" role="alert">
  Debe especificar en que periodo desea consultar cuentas para {{empresaSeleccionada}}
</div>
<div class="row justify-content-center">
  <a href="/empresas">Atras</a>
</div>
{{/partial}}

{{>userspace.hbs}}
