<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
<body>

<header class="navbar navbar-expand-lg navbar-ligh" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="../dondeInvierto.html">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/US_Democratic_Party_Logo.svg/2000px-US_Democratic_Party_Logo.svg.png" width="30" height="30" class="d-inline-block align-top" alt="" >
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav bd-navbar-nav flex-row" >
          <li class="nav-item">
            <a class="nav-link " href="../dondeInvierto.html">Home</a>
          </li>
          <li class="nav-item">
           <a class="nav-link active" href="/empresas">Empresas</a>
         </li>
          <li class="nav-item">
            <a class="nav-link" href="../indicadores">Indicadores</a>
          </li>
          <li class = "nav-item">
          <a class="nav-link" href="#">Metodologias</a>
          </li>
       </ul>
     </div>

     <ul class="navbar-nav justify-content-end">
      <li class="nav-item" >
        <a class="nav-link" data-toogle="pill"  href="#" role="tab" aria-controls="pills-profile" aria-expanded="true">Contacto</a>
      </li>
     </ul>
 </header>

<div class="container-fluid">
   <div class= "row justify-content-center">
     	<div class="col-4">
        <h1 class="text-info text-center">Mis empresas</h1>
       	<table class="table table-striped">
       		<thead class="table-inverse">
  	     		<tr>
  	     			<th>#</th>
  	     			<th class="text-center">Nombre</th>
  	     			<th class="text-center">Cantidad de Cuentas</th>
  	     		</tr>
  			  </thead>
  			  <tbody class="empresas_list">
            {{username}}
          {{#each empresas}}
  				<tr>
  					<th scope="row">{{@index}}</th>
  					<th class="text-center">{{nombre}}</th>
  					<th class="text-center">{{cantidad}}</th>
  				</tr>
          {{/each}}
  			  </tbody>
       	</table>
      </div>
   </div>
   <div class="row justify-content-center"">
     <h1 class="text-info text-center">Seleccion de cuentas</h1>
  </div>
  <div class="row justify-content-center"">
  <div class="col-4">
    <form action="/empresas/cuentas" method="get">
     <div class="form-group">
       <label for="empresa">Empresa</label>
       <input type="text"  class="form-control is-invalid" id="empresa" placeholder="Empresa" name="empresa">
       <div class="invalid-feedback">Porfavor, ingresa una empresa</div>
       <label for="periodo">Periodo</label>
       <input type="text" class="form-control is-invalid" id="periodo" placeholder="Periodo" name="periodo">
       <div class="invalid-feedback">Porfavor, ingresa un periodo</div>
     </div>
     <button class="btn btn-primary" type="submit">Buscar</button>
      </form>
   </div>
 </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
