{{#partial "contenido"}}

<div class="container-fluid">
   <div class= "row justify-content-center">
     	<div class="col-4">
        <h1 class="text-info text-center">Mis empresas</h1>
       	<table class="table table-striped">
       		<thead class="table-inverse">
  	     		<tr>
  	     			<th>#</th>
  	     			<th class="text-center">Nombre</th>
  	     			<th class="text-center">Cantidad de Cuentas</th>
              <th class="text-center">Periodos</th>
  	     		</tr>
  			  </thead>
  			  <tbody class="empresas_list">
          {{#each empresas}}
  				<tr>
  					<th scope="row">{{@index}}</th>
  					<th class="text-center">{{nombre}}</th>
  					<th class="text-center">{{cantidad}}</th>
            <th class="text-center">
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0">
              <option selected>Ver</option>
              {{#each this.periodosSinRepetidos}}
              <option>{{this}}</option>>
              {{/each}}
            </select>
            </th>
  				</tr>
          {{/each}}
  			  </tbody>
       	</table>
      </div>
   </div>
   <div class="row justify-content-center">
     <h1 class="text-info text-center">Seleccion de cuentas</h1>
  </div>
  <div class="row justify-content-center">
  <div class="col-4">
    <form action="/empresas/cuentas" method="get">
     <div class="form-group">
       <label for="empresa">Empresa</label>
       <input type="text"  class="form-control is-invalid" id="empresa" placeholder="Empresa" name="empresa">
       <div class="invalid-feedback">Porfavor, ingresa una empresa</div>
       <label for="periodo">Periodo</label>
       <input type="text" class="form-control is-invalid" id="periodo" placeholder="Periodo" name="periodo">
       <div class="invalid-feedback">Porfavor, ingresa un periodo</div>
     </div>
     <button class="btn btn-primary" type="submit">Buscar</button>
      </form>
   </div>
 </div>
</div>

{{/partial}}

{{>userspace.hbs}}
