{{#partial "contenido"}}

<div class= "row justify-content-center">
      <div class="col-4">
        <h1 class="text-info text-center">Mis Indicadores</h1>
        <table class="table table-striped">
          <thead class="table-inverse">
            <tr>
              <th>#</th>
              <th class="text-center">Nombre</th>
              <th class="text-center">Fórmula</th>
            </tr>
          </thead>
          <tbody class="empresas_list">
          {{#each this}}
          <tr>
            <th scope="row">{{@index}}</th>
            <th class="text-center">{{nombre}}</th>
            <th class="text-center">{{formula}}</th>
          </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
   </div>
   <div class="row justify-content-center">
    <div class="col-4">
     <div class="form-group">
        <div class="input-group">
             <form action="/indicadores" method="post">
            <button class="btn btn-primary" type="submit">Ingresar Indicador</button>
            </form>
          <span class="input-group-addon"> </span>
            <form action="/indicadores/removal" method="post">
             <button class="btn btn-primary" type="submit">Eliminar Indicador</button>
           </form>
           <span class="input-group-addon"> </span>
           <form action="/indicadores/eval" method="get">
             <button class="btn btn-primary" type="submit">Evaluar Indicadores</button>
           </form>
        </div>
    </div>
  </div>
 </div>
{{/partial}}
{{>userspace.hbs}}
