{{#partial "contenido"}}

<div class="conteiner-fluid">
<div class= "row justify-content-center">
      <div class="col-4">
        <h1 class="text-info text-center">Mis Metodologias</h1>
        <table class="table table-striped">
          <thead class="table-inverse">
            <tr>
              <th>#</th>
              <th class="text-center">Nombre</th>

            </tr>
          </thead>
          <tbody class="metodologias_list">
          {{#each this}}
          <tr>
            <th scope="row">{{@index}}</th>
            <th class="text-center">{{nombre}}</th>
          </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
   </div>
<div class="row justify-content-center">
     <h1 class="text-info text-center">Seleccion de Metodologia</h1>
  </div>
  <div class="row justify-content-center">


  	<form action="/metodologias/setDatosParaEvaluar" method="post">
     <div class="form-group">
       <label for="metodologia"></label>
      
      
       <button class="btn btn-primary" type="submit">Evaluar Metodologia</button>
       
       
       
     </div>

      </form>

      </form>
  </div>
 </div>

{{/partial}}
{{>userspace.hbs}}
